{
    "presets": [
      [
        "@babel/preset-env",
        {
          "exclude": ["babel-plugin-transform-classes"]
        }
      ]
    ],
    "plugins": [
      ["module-resolver", { "root": ["./src"], }],
      ["@babel/plugin-proposal-class-properties"]
    ]
  }
