<div class="sidebar" data-color="green" data-image="public/images/sidebar-2.jpg">

<!--

    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag

-->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                SDG - Símbolos de Fé
            </a>
        </div>

        <ul class="nav">
            <li class="active">
                <a href="/admin/confissoes">
                    <i class="pe-7s-ribbon"></i>
                    <p>Confissão & Catecismo</p>
                </a>
            </li>
            <li>
                <a href="/admin/capitulos">
                    <i class="pe-7s-menu"></i>
                    <p>Pergunta/Capítulo</p>
                </a>
            </li>
            <li>
                <a href="table.html">
                    <i class="pe-7s-note2"></i>
                    <p>Confissão/conteúdo</p>
                </a>
            </li>
        </ul>
    </div>
</div>